In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [3]:
n_rows = 5
n_cols = 2
cols = ['omset', 'operasional']

df = pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns= cols)
df

   omset  operasional
0     19           11
1     14            1
2      3           15
3     15           14
4     16           12

In [4]:
df['omset'] = df['omset'] * 100_000
df['operasional'] = df['operasional'] *10_000
df

     omset  operasional
0  1900000       110000
1  1400000        10000
2   300000       150000
3  1500000       140000
4  1600000       120000

In [10]:
df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
# df.index = untuk memanggil index data frame kita
df = df.reset_index()
# untuk menjadi index saat day time menjadi kolom biasa dengan nama index
df = df.rename(columns ={'index':'tanggal'})
df

     tanggal    tanggal    tanggal    omset  operasional
0 2000-01-01 2000-01-01 2000-01-01  1900000       110000
1 2000-01-02 2000-01-02 2000-01-02  1400000        10000
2 2000-01-03 2000-01-03 2000-01-03   300000       150000
3 2000-01-04 2000-01-04 2000-01-04  1500000       140000
4 2000-01-05 2000-01-05 2000-01-05  1600000       120000

Melakukan formatting tampilan Data Frame

In [11]:
formatku = {'tanggal':'{:%d/%m/%y}',
           'operasional' : 'Rp {:.2f}',
           'omset' : 'Rp {:.2f}'}
#disimpan ke dictionary = formatku
#{:.2f} = menyelipkan dua 0 dibelakang, .2 = 2 desimal, f = berarti memang desimal, 
laporan = df.style.format(formatku)
#setelah menggunakan.style.format, object bukan dataframe lagi melainkan styler
laporan

In [12]:
type(laporan) # dataframe berada di df, jika mengeksekusi laporan.head() tidak bisa karena bukan dataframe lagi melainkan styler

pandas.io.formats.style.Styler

In [13]:
laporan.hide_index() #menyembunyikan index

In [14]:
laporan.set_caption('Data Omset dan Operasional') #judul

In [18]:
laporan.highlight_min('omset', color='pink')
laporan.highlight_max('omset', color='lightgreen')

laporan.highlight_min('operasional',color ='lightblue')
laporan.highlight_max('operasional',color='grey')

KeyError: '`Styler.apply` and `.applymap` are not compatible with non-unique index or columns.'