In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
pd.DataFrame({'col1':[1,2,3,4],
            'col2':[5,6,7,8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [3]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1,20,size=(n_rows,n_cols))
arr

array([[ 7,  2,  8],
       [14, 16, 10],
       [ 9, 18,  6],
       [12,  8,  7],
       [ 6,  8,  7]])

In [6]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0   7   2   8
1  14  16  10
2   9  18   6
3  12   8   7
4   6   8   7

Membentuk Data Frame dengan memamfaatkan pandas.util.testing

In [7]:
pd.util.testing.makeDataFrame().head()
# data frame ini akan menghasilkan sebuah data yang terdiri dari 4 buah kolom yang nilainya acak

C:\Users\LENOVO\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
SWRrajD8gC -1.969429 -0.388797 -0.334240 -0.148948
sq9VcCJcJs -0.462769  0.857199  0.302979 -0.875063
6oplVPnsA8  1.969448 -0.364301 -0.186534 -2.249110
Wspu1eS4D7  0.061140  0.070104 -0.307449 -0.761051
5S8maALjH3 -0.812850 -0.789418 -0.711662 -1.706714

In [8]:
pd.util.testing.makeMixedDataFrame().head()
# Membuat dataframe yang tipe datanya campur

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [9]:
pd.util.testing.makeTimeDataFrame().head()
# data frame waktu / time series data

                   A         B         C         D
2000-01-03 -1.372006  0.878423  2.043281  0.188372
2000-01-04 -1.393827  0.620758  0.131983 -0.302474
2000-01-05 -1.117886 -0.804941  0.326757  1.466297
2000-01-06 -0.924929 -0.511806 -0.248030  1.235032
2000-01-07  1.206344 -0.470553 -1.494981 -0.203753

In [11]:
pd.util.testing.makeMissingDataframe().head()
# data frame yang terdapat missing value

                   A         B         C         D
RxH9z1jkdh  0.118282 -0.482820 -0.184708       NaN
83ks1LNaBL -0.447902  0.265646  0.729904 -0.976786
aUe33VCyEG       NaN -1.073277 -0.272052  1.864145
yBOBuN32OQ -0.994293       NaN -0.573938  0.607513
i9me4T2d8v -0.994348 -2.434594  0.183615  1.429782